@page "/Lookup"
@using System.Text.Json;
@using System.Net.Http.Json;

<h3>Spell Lookup</h3>
In the input below, enter the name of the spell you wish to look up!<br />
For correct formatting, write the name of your spell in lowercase and with a - between spaces. <br />
Spell Index: <input @bind=Indx/><br />
<button @onclick=GetSpell>Find</button>

<br /><br />
<span>
    @name<br />
    @level <br />
    @description <br />
    @range <br />
    @duration <br />
    @concentration <br />
    @action <br />
</span><br />


@code {

    string Indx = "";

    string name = "";
    string level;
    string description = "";
    string range;
    string duration;
    string concentration;
    string action;

    private HttpClient httpClient;

    public Lookup()
    {
        httpClient = new HttpClient();
    }

    

    public async Task GetSpell()
    {        
        var apiResponse = await httpClient.GetFromJsonAsync<JsonElement>($"https://www.dnd5eapi.co/api/spells/{Indx}");

        name = $"{apiResponse.GetProperty("name")}";
        level = $"Level {apiResponse.GetProperty("level")}";
        description = $"{apiResponse.GetProperty("desc")}";
        range = $"Range: {apiResponse.GetProperty("range")}";
        duration = $"Duration: {apiResponse.GetProperty("duration")}";
        concentration = $"Concentration: {apiResponse.GetProperty("concentration")}";
        action = $"Casting time: {apiResponse.GetProperty("casting_time")}";       


    }
}
